/*
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

.hero{
    width: 100%;
    height: 98rem;

    padding:0 17.9rem;
    padding-top: 17rem;

    position: relative;
}

.background-image{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;

    z-index: -1;

    opacity: 70%;
}


.greeting{
    font-weight: normal;
    opacity: 1;
    font-size: 6.4rem;
}

.name, .name span {
    font-size: 8rem;
    font-weight: normal;
}

.name span {
    color: var(--color-yellow);
}

.profession {
    font-size: 2.4rem;
}

.description {
    width: 63.6rem;

    margin: 4rem 0;
}

.button {
    width: 14.6rem;
    height: 4.8rem;

    font-size: 2.2rem;

    color: var(--color-dark);
    background-color: var(--color-yellow);

    border: none;
    border-radius: 1rem;

    cursor: pointer;

    box-shadow: 0px 5px 10px rgba(256,256,256, 0.5);
}

.button:hover {
    background-color: var(--color-yellow__tint);
    color: #000b12;
}

