:root {
  --color-yellow: #FAC01F;
  --color-yellow__tint: #ce9b0c;
  --color-dark: #000e17;
  --color-white: #fff;

  --default-font-size: 1.8rem;
  --default-border-radius: .5rem;
}

@font-face {
  font-family: "Manrope";
  src: url("./fonts/Manrope/Manrope-VariableFont_wght.ttf") format("truetype");
  font-weight: 400 500;
  font-style: normal;
  font-variation-settings: "wght" 400 500;
}


html{
  font-size: 62.5%;
}


*{
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1.8rem;

  box-sizing: border-box;
  font-size: var(--default-font-size);
  color: var(--color-white);
}


body {
  font-family: "Manrope", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--color-dark);
}